.tuile {
    width: 250px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    max-height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.tuile_title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 20px;
    width: calc(100% - 20px);
    border-left: 3px solid #35b990;
}

.tuile_cross { 
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    border-radius: 20px;
    background-color: white;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 4px;
    cursor: pointer;
}

.tuile--content {
    padding: 0px 20px 0px 20px;
}
